{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html>
    <link rel = "stylesheet" href="{% static 'index.css' %}"/>
    <h1 class="centerButton">Appointments</h1>
        <div class="centerButton">
            <a href="{% url 'website:addappointment' %}" class="btn btn-info mt-3 mr-3 centerButton" role="button" style="width:150 center">Add Appointment</a>
        </div>
    <div class= "containers">
    {% for appointment in appointments %}
        {% if user == appointment.patient_id %}
            <div class="card addnotes" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{appointment.doctors_name}}</h5>
                    <img src="{% static 'images/doctor.png' %}" width="120px" height="90px">
                    <br>
                    </br>
                    <h6 class="card-subtitle mb-2">{{appointment.location}}</h6>
                    <p class="card-text">{{appointment.date}}</p>
                    <p class="card-text">{{appointment.time}}</p>

                        <a href="{% url 'website:appointmentNotes' id=appointment.id %}" class="btn btn-warning mt-3 mr-3" role="button" style="width:150"><img src="{% static 'images/note.png' %}" width="90px" height="60px">Notes</a>

                        <a href="{% url 'website:deleteappointment' appointment.id %}" class="btn btn-danger mt-3 mr-3" role="button" style="width:150"><img src="{% static 'images/garbage.png' %}" width="90px" height="60px">
                            Delete</a>
                        <a href="{% url 'website:editappointment' appointment.id %}" class="btn btn-dark mt-3 mr-3" role="button" style="width:150">Edit</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</html>
{% endblock %}