{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html>
    <link rel = "stylesheet" href="{% static 'index.css' %}"/>
    <h1 class="centerButton">Medications</h1>
        <div class="centerButton">
            <a href="{% url 'website:addmedications' %}" class="btn btn-info mt-3 mr-3" role="button" style="width:150">Add Medication</a>
        </div>
        <div class="containers">
        {% for medication in medications %}
            {% if user == medication.patient_id %}
                <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{medication.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">dosage</h6>
                            <p class="card-text">{{medication.dosage}}</p>
                            <a href="{% url 'website:deletemedication' id=medication.id %}" class="btn btn-warning mt-3 mr-3" role="button" style="width:150">Delete</a>
                            <a href="{% url 'website:editmedication' id=medication.id %}" class="btn btn-info mt-3 mr-3" role="button" style="width:150">Edit</a>
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</html>
{% endblock %}