{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html>
     <a href="{% url 'website:addmedications' %}" class="btn btn-info mt-3 mr-3" role="button" style="width:150">Add Medication</a>
    <h1>Medications</h1>
    <ul>
    {% for medication in medications %}
    {% if user == medication.patient_id %}
        <li> Name: {{medication.name}} <br>
            Dosage: {{medication.dosage}}<br>
            <a href="{% url 'website:deletemedication' id=medication.id %}" class="btn btn-danger mt-3 mr-3" role="button" style="width:150">Delete</a>
            <a href="{% url 'website:editmedication' id=medication.id %}" class="btn btn-warning mt-3 mr-3" role="button" style="width:150">Edit</a>
        </li>
    {% endif %}
    {% endfor %}
    </ul>

</html>
{% endblock %}