{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html>
<link rel = "stylesheet" href="{% static 'index.css' %}"/>
<div class="addnotes">
    <img src="{% static 'images/note.png' %}" width="90px" height="60px">
    <h1> Add Notes</h1>
</div>
    <form action="{% url 'website:note' %}" class="box" method="POST">
        <div class="form-group-lg">
        {% csrf_token %}
            <input class="form-control" style="height:50px" type="text" value="Note" name="note" required=true>
            <select name="appointment" id="note_appointment">
                {% for appointment in appointments %}
                    {% if appointment.deletedOn == None %}
                        <option value={{appointment.id}}>{{appointment.doctors_name}} {{appointment.date}}</option>
                    {% endif%}
                {% endfor %}
            </select>
        <input type="submit" value="Save">
        </div>
    </form>
</html>
{% endblock %}
