{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html>
    <h1> Notes</h1>
    <form action="{% url 'website:note' %}" class="box" method="POST">
        {% csrf_token %}
        <input type="text" value="Note" name="note" required=true>
            <select name="appointment" id="note_appointment">
                {% for appointment in appointments %}
                    {% if appointment.deletedOn == None %}
                        <option value={{appointment.id}}>{{appointment.doctors_name}} {{appointment.date}}</option>
                    {% endif%}
                {% endfor %}
            </select>
        <input type="submit" value="Save">
    </form>
</html>
{% endblock %}
